@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width:767px) {
  .move-down-text {
   margin-top:20px; 
  }    
  .bottom-padding-small {
    padding-bottom: 40px;
  }
	#smaller-text {
		font-size: 35px;
	}
	#header {
		padding-top: 10px;
	}
}
 
.links {
  text-decoration: underline;
  color: black;
}

#menu-toggle:checked + #menu {
    display: block;
  }

	
	.gradient {
		background: linear-gradient(90deg, rgba(70,77,202,1) 54%, rgba(52,160,254,1) 100%);
	}