
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width:767px) {
  .move-down-text {
   margin-top:20px; 
  }    
  .bottom-padding-small {
    padding-bottom: 40px;
  }
}
 
.links {
  text-decoration: underline;
  color: black;
}